<div class="flex flex-col flex-grow" th:fragment="addTemplate">
  <div class="flex flex-row mb-5 justify-between">
    <h1 class="text-2xl sm:text-3xl px-1 pb-2 mt-1 border-l-1 border-current select-none">create a new test template</h1>
    <a class="self-center border-current border-1 px-3 py-1 cursor-pointer hover:text-white hover:bg-black" href="/templates">return</a>
  </div>

  <form class="grid gap-10 gap-y-5 grid-cols-2 w-full max-w-screen-lg mx-auto" method="POST" th:action="@{/templates}" th:object="${newTemplateForm}">
    <div class="col-span-full flex flex-col">
      <input class="p-1 w-full border-1 border-current" name="name" placeholder="test name" maxlength="128" required />
      <span class="text-red-500 text-sm" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    </div>

    <input type="reset" value="reset" class="col-auto mr-auto mt-2 px-10 border-current border-1 py-1 cursor-pointer bg-transparent hover:text-white  text-red-500 hover:bg-red-500" />
    <input type="submit" value="create" class="col-auto ml-auto mt-2 px-10 border-current border-1 py-1 cursor-pointer bg-transparent hover:text-white hover:bg-black" />
  </form>
</div>
