<div class="flex flex-col flex-grow" th:fragment="templates">
  <h1 class="text-2xl sm:text-3xl px-1 pb-2 mt-1 mb-2 border-l-1 border-current select-none">all templates</h1>
  <h2 class="sm:text-lg font-light ml-1 mb-5">List of all your test templates</h2>
  <div class="flex flex-row justify-between mb-10">
    <h1 class="text-lg sm:text-xl px-2 border-b-1 border-current">templates</h1>
    <a href="/templates/new" class="hidden sm:block self-center border-current border-1 px-3 py-1 cursor-pointer hover:text-white hover:bg-black">new</a>
  </div>

  <div th:if="${templates.empty}"><h3>No templates available</h3></div>
  <div>
    <div class="grid grid-cols-5 w-full p-2 py-4 border-b-1 border-current items-center" th:each="template : ${templates}">
      <h3 class="text-xl col-span-3" th:text="${template.name}"></h3>
      <h3 class="" th:text="'questions: ' + ${#lists.size(template.questions)}"></h3>
      <div class="flex space-x-4 justify-end">
        <form method="POST" action="/tests">
          <input type="hidden" name="templateId" th:value="${template.id}" />
          <button type="submit" class="py-0.5 px-1 font-normal border-current border-1 hover:bg-green-100">launch</button>
        </form>

        <div th:class="'py-0.5 px-1 font-normal border-current border-1 hover:bg-yellow-100' + (${!template.tests.empty} ? ' opacity-50 pointer-events-none' : '')">
          <a th:href="'/templates/' + ${template.id}">edit</a>
        </div>

        <form method="POST" th:action="'/templates/delete/' + ${template.id}">
          <button type="submit" th:class="'py-0.5 px-1 font-normal border-current border-1 hover:bg-red-500' + (${!template.tests.empty} ? ' opacity-50 pointer-events-none' : '')">delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
